*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Architects Daughter', cursive;
	/*font-size: 20px;*/
}

body{
	background:  #19123b!important;
}

.card{
	border: none;
	border-top: 5px solid rgb(176,106,252)!important;
	background:  #212042!important;
	color: #57557a!important;
}

.main-div{
	height: 100vh;
}
p{
	font-weight: 500;
}

.fab{
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
	border: none!important;
	background: #2a284d;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	transition: all 0.2s linear;
}
.fab:hover{
	cursor: pointer;
	background: #456768;
}

.fa-instagram{
	color: #fe4164;
}
.fa-linkedin{
	color: #56ABEC;
}
.fa-facebook{
	color: #1775F1;
}

.division{
	width: 100%;
	text-align: center;
	margin-bottom: 30px auto 20px;
}

.main-heading{
	font-weight: 500;
	font-size: 25px;
	padding: 20px 0!important;
}
.my-form{
	padding: 0 25px 0 35px;
}
.form-control{
	border: 1px solid #57557a!important;
	border-radius: 2px;
	background: #212042!important;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.form-control:focus{
	color: #fff!important;
}

.bn{
	text-decoration: underline;
}
.bn:hover{
	cursor: pointer;
}

.form-check-input{
	width: 1rem!important;
	height: 1rem!important;
	/*margin-top: 5px;*/
}

.btn-primary{
	background: linear-gradient(135deg, rgba(175,106,252,1) 39%, rgba(116,17,255)100%);
	border: none!important;
	border-radius: 50px!important;
}

small{
	color: #f2ceff!important;
}

.register{
		color: #57557a!important;
		text-decoration: underline;
 }
 .register:hover{
 	color: #f2ceff!important;
 	text-decoration: none!important;
 }